
Android/AppnextNativeAdsExamples/.idea/codeStyles/Project.xml
Android/AppnextNativeAdsExamples/.idea/misc.xml
Android/AppnextNativeAdsExamples/.idea/modules.xml
Android/AppnextNativeAdsExamples/.idea/runConfigurations.xml
Android/AppnextNativeAdsExamples/gradle/wrapper/gradle-wrapper.jar
Android/AppnextNativeAdsExamples/gradle/wrapper/gradle-wrapper.properties
Android/AppnextNativeAdsExamples/gradlew
Android/AppnextNativeAdsExamples/gradlew.bat
